@charset "utf-8";
*{
	margin:0;
	padding:0;
}

.home-slideshow, .home-slideshow:after{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:0;
	list-style:none;
}

.home-slideshow:after{
	content: '';
	background: transparent url(../images/grid.png) repeat top left;
}

.home-slideshow li span{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	color:transparent;
	background-size:cover;
	background-position: 50% 50%;
	background-repeat:none;
	opacity:0;
	z-index:0;
	-webkit-animation: imageFade 36s linear infinite 0s;
	-moz-animation: imageFade 36s linear infinite 0s;
	-o-animation: imageFade 36s linear infinite 0s;
	-ms-animation: imageFade 36s linear infinite 0s;
	animation: imageFade 36s linear infinite 0s;
}

.home-slideshow li:nth-child(1) span{
	background:url(../images/medicine-gif.gif);
}

.home-slideshow li:nth-child(2) span{
	background:url(../images/doc.jpg);
	-webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
	animation-delay:6s; 
}

.home-slideshow li:nth-child(3) span{
	background:url(../images/hoi.jpg);
	-webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}

.home-slideshow li:nth-child(4) span{
	background:url(../images/img.jpg);
	-webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;  
}

.home-slideshow li:nth-child(5) span { 
    background-image: url(../images/medi.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.home-slideshow li:nth-child(6) span { 
    background-image: url(../images/burn-injuries.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}

/* Animation for Home Image Slide show */
@-webkit-keyframes imageFade { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageFade { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageFade { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageFade { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageFade { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}